* {
    background-color: #006622;
    color: white;
    font-family: 'DM Mono', monospace;
  }
  
  html, body {
     background-color: #006622;
  }
  main {
    display: block;
    max-width: 800px;
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    max-height: 100vh;
    padding: 0 10px;
  }
  
  input, p, #btns {
    display: block;
    margin: 30px auto; 
  }
  
  input {
    width: 100%;
    background-color: white;
    color: black;
    font-size: 24px;
    line-height: 30px;
  }
  
  
  button {
    font-size: 18px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
  }
  
  button:hover {
    background-color: white;
    color: #006622;
  }
  
  p {
    font-size: 20px;
  }